// Typography

$font-stack-text:      "Georgia", "Times New Roman", "Times", serif;
$font-stack-heading:   $font-stack-text;
$font-stack-dingbat:   "Wingdings";

$font-size-giga:       48px;
$font-size-mega:       36px;
$font-size-kilo:       24px;
$font-size-hecto:      21px;
$font-size-deca:       18px;
$font-size-base:       16px;
$font-size-deci:       14px;
$font-size-centi:      12px;

$line-height-base:     1.8;

$vertical-rhythm:      $font-size-base;


// Colors

$brown:                #7d6e67;
$purple:               #65517b;
$light-purple:         desaturate(lighten($purple, 20%), 5%);
$very-light-purple:    lighten($light-purple, 20%);
$deep-purple:          darken(saturate($purple, 8%), 3%);
$off-white:            #fff4e0;
$off-white-2:          lighten($off-white, 5%);

$color-text:           $brown;
$color-heading:        $purple;

$color-link:           $purple;
$color-link-visited:   $light-purple;
$color-link-hover:     $deep-purple;

$color-bg-outer:       $off-white;
$color-bg-inner:       $off-white-2;

$color-rule:           $very-light-purple;
$color-dingbat:        $very-light-purple;


// Other

$headings:             h1, h2, h3, h4, h5, h6;

$rule:                 1px dotted $color-rule;
