<header class="masthead grid-row">
  <div class="grid-col-33">
    <a href="/" title="Go to homepage">
      <img
        src="#"
        alt="Renee Hauser's logo"
        class="logo"
        width="200" height="100" />
    </a>
  </div>
  <div class="grid-col-66">
    <nav class="nav">
      <ul class="list-inline">
        {% for page in site.pages %}
          {% if page.layout == 'content-page' %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
