* {
  @include box-sizing(border-box);
}

html, body,
ul, ol, li, dl, dt, dd,
p, #{$headings} {
  margin: 0;
  padding: 0;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  min-height: 100%;
}

html {
  @include background(
    radial-gradient(circle at 50% 10%, $color-bg-inner 0%, $color-bg-outer 100%),
    $color-bg-outer
  );
  font: #{$font-size-base}/#{$line-height-base} $font-stack-text;
  color: $color-text;
}


// Headings

#{$headings} {
  color: $color-heading;
  margin: 1.5em 0 .75em;
}

h1, .giga  { font-size: $font-size-giga; }
h2, .mega  { font-size: $font-size-mega; }
h3, .kilo  { font-size: $font-size-kilo; }
h4, .hecto { font-size: $font-size-hecto; }
h5, .deca  { font-size: $font-size-deca; }
h6, .base  { font-size: $font-size-base; }


// Lists

.list-inline {
  li {
    list-style: none;
    display: inline-block;
  }
}

.list-unstyled {
  li { list-style: none; }
}

.nav ul,
.nav ol {
  @extend .list-unstyled;
}


// Links

a {
  text-decoration: none;
  color: $color-link;

  &:visited { color: $color-link-visited; }

  &:hover   { color: $color-link-hover; }
}
