$grid-num-cols:       12;
$grid-gutter-width:   20px;
$grid-max-width:      820px;
$grid-min-page-width: 768px;

.grid-wrapper {
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0 .5em;
}

[class*="grid-row"] {
  display: block;
  font-size: 0;
}

.grid-row-centered {
  text-align: center;
}

[class*="grid-col"] {
  display: inline-block;
  font-size: $font-size-base;
  text-align: left;
  padding: 0 $grid-gutter-width / 2;
}


@media screen and (min-width: $grid-min-page-width) {

  .grid-wrapper { @include padding-horz(1.5em); }

  // Column sizing

  .grid-col-full    { width: 100%; }
  .grid-col-half    { width: 50%; }
  .grid-col-third   { width: 33.333333%; }
  .grid-col-quarter { width: 25%; }

  @each $val in 25, 33.333333, 50, 66.666666, 75 {
    $int: floor($val);
    $pct: percentage($val / 100);

    .grid-col-#{$int} { width: $pct; }

    .grid-col-offset-#{$int} { margin-left:  $pct; }
  }

  @for $i from 1 through $grid-num-cols {
    $pct: ($i / $grid-num-cols) * 100%;

    .grid-col-#{$i} { width: $pct; }

    .grid-col-offset-#{$i} { margin-left: $pct; }
  }

}
