// Typography

$font-stack-text:      "Georgia", "Times New Roman", "Times", serif;
$font-stack-heading:   $font-stack-text;

$font-size-giga:       48px;
$font-size-mega:       36px;
$font-size-kilo:       24px;
$font-size-hecto:      21px;
$font-size-deca:       18px;
$font-size-base:       16px;

$line-height-base:     1.8;


// Colors

$color-text:           #52423b;
$color-heading:        #65517b;
$color-bg-1:           #f5eddf;
$color-bg-2:           #f2dfbb;


// Other

$headings:             h1, h2, h3, h4, h5, h6;
