// Typography

$font-stack-text:      "Georgia", "Times New Roman", "Times", serif;
$font-stack-heading:   $font-stack-text;

$font-size-giga:       48px;
$font-size-mega:       36px;
$font-size-kilo:       24px;
$font-size-hecto:      21px;
$font-size-deca:       18px;
$font-size-base:       16px;

$line-height-base:     1.8;


// Colors

$color-text:           #7d6e67;
$color-heading:        #65517b;

$color-link:           saturate($color-heading, 10%);
$color-link-visited:   lighten(desaturate($color-link, 8%), 15%);
$color-link-hover:     darken(saturate($color-link, 8%), 3%);

$color-bg-outer:       #fff4e0;
$color-bg-inner:       lighten($color-bg-outer, 5%);


// Other

$headings:             h1, h2, h3, h4, h5, h6;
